
body {
	width: 80%;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

li {
  display: grid;
}

a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(3, 140, 150);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
  color: white;
}
.container {
  display: flex;
}
