
.content {
	position: absolute;
	left: 10%;
	right: 10%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.homepage {
	width: 90%
}

.card {
	margin: 10px;
}



.card:hover {
	box-shadow: 5px 5px 5px 1px teal;
}


a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(3, 140, 150);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
  color: white;
}

